<div class="container">
	<section class="map-container">
		<div id="expand"> <p> > </p> </div>
		<div id='map-canvas'>
		</div>
	</section>

	<section class="details">
		<div class="my-places"> 
			<h3> My places </h3>
			<ul>
			</ul>
		</div>
	</section>
</div>

